/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;
  --font-semi: 600;
}

/*===== Colors =====*/
:root {
  --first-color: #715eff;
  --second-color: #0e2431;
}

/*===== Font and Typography =====*/
:root {
  --body-font: "Poppins", sans-serif;
  --big-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
}

@media screen and (min-width: 768px) {
  :root {
    --big-font-size: 3.5rem;
    --h2-font-size: 2rem;
    --normal-font-size: 1rem;
  }
}

/*===== Margins =====*/
:root {
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
}

/*===== z-index =====*/
:root {
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*===== BASE =====*/
*,
::before,
::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--second-color);
}
h1,
h2,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}

/*===== CLASS CSS ===== */
.section-title {
  position: relative;
  font-family: neon;
  font-size: var(--h2-font-size);
  color: var(--first-color);
  margin-top: var(--mb-2);
  margin-bottom: var(--mb-4);
  text-align: center;
}
.section-title::after {
  position: absolute;
  content: "";
  width: 64px;
  height: 0.18rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 2rem;
  background-color: var(--first-color);
}
.section {
  padding-top: 3rem;
  padding-bottom: 2rem;
}

/*===== LAYOUT =====*/
.bd-grid {
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}
.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
}

/*===== NAV =====*/
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: var(--font-semi);
}
@media screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    top: var(--header-height);
    right: -100%;
    width: 80%;
    height: 100%;
    padding: 2rem;
    background-color: var(--second-color);
    transition: 0.5s;
  }
}
.nav-item {
  margin-bottom: var(--mb-4);
}
.nav-link {
  position: relative;
  color: #fff;
}
.nav-link:hover {
  position: relative;
}
.nav-link:hover::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--first-color);
}
.nav-logo img {
  color: var(--second-color);
  font-weight: var(--font-semi);
  width: 2.70rem;
}
.nav-toggle {
  color: var(--second-color);
  font-size: 1.5rem;
  cursor: pointer;
}

/*Active menu*/
.active::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--first-color);
  -webkit-animation: change-color 5s infinite linear;
}

/*Show menu*/
.show {
  right: 0;
}

/*===== HOME =====*/
.home {
  height: calc(100vh - 3rem);
  row-gap: 1rem;
}
.home-data {
  align-self: center;
}
.home-title {
  font-size: var(--big-font-size);
  margin-bottom: var(--mb-5);
}
.home-title-color {
  color: var(--first-color);
}
.home-social {
  display: flex;
  flex-direction: column;
}
.home-social-icon {
  width: max-content;
  margin-bottom: var(--mb-2);
  font-size: 1.5rem;
  color: var(--second-color);
}
.home-social-icon:hover,
.footer-icon:hover {
  color: var(--first-color);
}
.home-img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 65%;
}

/*BUTTONS*/
.button {
  display: inline-block;
  background-color: var(--first-color);
  border: 1px solid var(--first-color);
  color: #fff;
  padding: 0.75rem 2.5rem;
  font-weight: var(--font-semi);
  border-radius: 0.5rem;
}
.button:hover {
  background-color: #fff;
  color: var(--first-color);
  box-shadow: 0 10px 36px rgba(0, 0, 0, 0.15);
}

/* ===== ABOUT =====*/
section.about-section {
  padding: 1px;
}
.about-container {
  row-gap: 2rem;
  text-align: center;
}
.about-subtitle {
  margin-bottom: var(--mb-2);
}
.about-img {
  justify-self: center;
}
.about-img img {
  width: 200px;
  border-radius: 0.5rem;
}

/* ===== SKILLS =====*/
.skills-container {
  row-gap: 2rem;
  text-align: center;
}
.skills-subtitle {
  margin-bottom: var(--mb-2);
}
.skills-text {
  margin-bottom: var(--mb-4);
}
.skills-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-weight: var(--font-semi);
  padding: 0.5rem 1rem;
  margin-bottom: var(--mb-4);
  border-radius: 0.5rem;
  box-shadow: 0 4px 25px rgba(14, 36, 49, 0.15);
}
.skills-icon {
  width: 2rem;
  font-size: 2rem;
  margin-right: var(--mb-2);
  color: var(--first-color);
}
img.man-icons {
  font-size: 2rem;
  margin-right: var(--mb-2);
  color: var(--first-color);
}
.skills-names {
  display: flex;
  align-items: center;
}
.skills-bar {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--first-color);
  height: 0.25rem;
  border-radius: 0.5rem;
  z-index: var(--z-back);
}
.skills-html {
  width: 75%;
}
.skills-css {
  width: 70%;
}
.skills-js {
  width: 85%;
}
.skills-react,
.skills-mongo {
  width: 80%;
}
.skills-redux {
  width: 90%;
}
.skills-mui,
.skills-sql {
  width: 65%;
}
.skills-ts {
  width: 70%;
}
.skills-express,
.skills-node {
  width: 85%;
}
.skills-img {
  border-radius: 0.5rem;
}

/* ===== Projects =====*/
.project-container {
  gap: 2rem;
  max-width: 1024px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}
.project-card {
  position: relative;
  overflow: hidden;
  border-radius: 0.5rem;
  box-shadow: 0 4px 25px rgba(14, 36, 49, 0.15);
  transition: 0.3s;
}
.project-card:hover .project-name {
  right: 0;
}
.project-card:hover .project-img::after {
  opacity: 1;
}
.project-img {
  position: relative;
  width: 100%;
}
.project-img::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(113, 94, 255, 0.5);
  border-radius: 0.5rem;
  opacity: 0;
  transition: 0.3s;
}
.project-name {
  position: absolute;
  right: -100%;
  bottom: 1rem;
  font-weight: var(--font-semi);
  font-size: var(--h2-font-size);
  color: #fff;
  padding-left: var(--mb-2);
  z-index: var(--z-fixed);
  transition: 0.3s;
}
.project-card:hover {
  transform: translateY(-0.5rem);
}

/* ===== CONTACT ===== */
.contact-container {
  row-gap: 2rem;
  text-align: center;
}
.contact-subtitle {
  margin-bottom: var(--mb-2);
}
.contact-input {
  width: 100%;
  font-family: var(--body-font);
  padding: 1rem;
  border: 1px solid rgba(14, 36, 49, 0.3);
  border-radius: 0.5rem;
  margin-bottom: var(--mb-2);
}
.contact-input:focus {
  outline: none;
  box-shadow: 0 4px 25px rgba(113, 94, 255, 0.15);
}
.contact-button {
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: 0.75rem 2.5rem;
  font-weight: var(--font-semi);
  border-radius: 0.5rem;
}
.contact-button:hover {
  background-color: #fff;
  color: var(--first-color);
  box-shadow: 0 10px 36px rgba(0, 0, 0, 0.15);
}

/* FOOTER */
.footer {
  text-align: center;
  padding: var(--mb-4) 0;
}
.footer-title {
  font-size: var(--h2-font-size);
  margin-bottom: var(--mb-4);
}
.footer-icon {
  font-size: 1.5rem;
  color: var(--second-color);
  margin-right: var(--mb-4);
}
.footer-icon:hover {
  color: var(--first-color);
}

/* MEDIA QUERIES */
@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }
  .home {
    grid-template-columns: 50% 50%;
  }
  .bd-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1rem;
  }
  .about-container,
  .skills-container,
  .contact-container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
}
